/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HOME*/
/* ESTILOS CELULARES*/
body {
  background-color: #829460;
  height: 100vh;
  width: 40vh; }

.contenedorPage {
  grid-template-columns: repeat(1/1fr);
  grid-template-rows: repeat(4/1fr); }

header div .contenedorLogo {
  margin-top: 0vh;
  width: 5vh;
  height: 15vh; }
  header div .contenedorLogo a .logoImg {
    margin-top: 0vh;
    height: 28vh;
    width: 45vh; }

.home {
  height: 150vh;
  width: 60vh; }
  .home .descripcionImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 10vh; }
  .home .loremIndex {
    grid-row: 4;
    grid-column: 1;
    text-align: center;
    margin: 1vh 5vh;
    border: 2px solid black;
    height: 10vh;
    width: 50vh;
    background-color: #665A48;
    color: whitesmoke;
    font-size: 1.5vh; }
  .home .homeP {
    grid-row: 1;
    grid-column: 1;
    background-color: #005954;
    margin-top: 1vh;
    width: 58vh;
    height: 12vh;
    font-size: 1.5vh;
    text-align: center;
    background-color: #665A48;
    color: whitesmoke;
    border: 2px solid black; }
  .home .imgUno {
    grid-row: 2;
    grid-column: 1;
    width: 10vh; }
    .home .imgUno .imgU {
      object-fit: cover;
      height: 79vh;
      width: 58vh;
      margin-top: 0vh; }
  .home .imgDos {
    width: 10vh;
    height: 10vh;
    grid-row: 4;
    grid-column: 1;
    margin-top: 12vh; }
  .home .imgD {
    width: 58vh;
    height: 40vh;
    margin: 1vh 0vh; }
  .home .imgTres {
    display: none; }
  .home .imgSeisF {
    grid-row: 2;
    height: 19vh;
    margin-top: 1vh;
    overflow: auto; }
  .home .descripcionimg .imgTres,
  .home .imgCuatro,
  .home .imgCinco,
  .home .imgSeis,
  .home .imgSiete {
    display: none; }

section {
  width: 60vh;
  text-align: center; }
  section .inforEq .sectionHaeq {
    background-color: #C3EDC0; }
  section .inforEq .sectionHbeq {
    background-color: #E9FFC2; }
  section .inforEq .sectionHceq {
    background-color: #FDFFAE; }

/*estilos tablet home*/
@media screen and (min-width: 700px) {
  .home {
    height: 390vh;
    width: 108vh; }
    .home .descripcionImg {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: 0vh; }
    .home .loremIndex {
      grid-row: 2;
      grid-column: 1/ span 1;
      text-align: center;
      margin-top: 62vh;
      border: 2px solid black;
      height: 8vh;
      width: 98vh;
      font-size: 2vh;
      background-color: #665A48;
      color: whitesmoke; }
    .home .imgCuatro {
      grid-row: 2;
      grid-column: 1/span 2;
      height: 69vh;
      width: 100vh;
      margin: 75vh 4vh; }
      .home .imgCuatro .imgC {
        object-fit: cover;
        width: 100vh;
        height: 60vh; }
    .home .imgCinco {
      grid-row: 2;
      grid-column: 1;
      display: block;
      width: 108vh;
      height: 40vh;
      margin-top: 165vh; }
      .home .imgCinco .imgCi {
        width: 110vh; }
    .home .imgSeis {
      object-fit: cover;
      grid-row: 5;
      grid-column: 1;
      width: 108vh;
      height: 50vh;
      margin-top: 30vh; }
      .home .imgSeis .imgS {
        width: 110vh;
        height: 60vh; }
    .home .desc {
      grid-row: 2;
      grid-column: 2/ span 1;
      text-align: center;
      margin: 8vh 4vh;
      border: 2px solid black;
      height: 15vh;
      width: 90vh;
      background-color: #665A48;
      color: whitesmoke; }
    .home .homeP {
      display: grid;
      grid-row: 1;
      grid-column: 4;
      margin-top: 16vh;
      width: 28vh;
      height: 20vh;
      font-size: 1.5vh;
      background-color: #665A48;
      color: whitesmoke;
      border: 2px solid black; }
    .home .imgUno {
      display: grid;
      grid-row: 1;
      object-fit: cover;
      height: 20vh;
      width: 10vh;
      margin-top: 0vh; }
      .home .imgUno .imgU {
        width: 80vh; }
    .home .imgDos {
      display: none; }
    .home .imgTres {
      grid-row: 6;
      height: 90vh;
      width: 108vh; }
      .home .imgTres .imgT {
        margin: 10vh 20vh;
        width: 70vh;
        height: 60vh; }
    .home .descripcionImg .imgTres,
    .home .imgCuatro,
    .home .imgSeis,
    .home .imgSiete {
      display: block; }
    .home footer h2 {
      width: 300vh; }
  /*estilos para desktop*/
  /* home*/ }

@media screen and (min-width: 700px) and (min-width: 1024px) {
  .home {
    height: 330vh;
    width: 200vh; }
    .home .descripcionImg {
      margin-top: 0vh;
      height: 25vh;
      width: 200vh;
      margin-top: 0vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr); }
    .home .imgUno {
      display: none; }
    .home .imgCuatro,
    .home .imgSeis {
      display: block; }
    .home .imgDos .imgD {
      height: 20VH; }
    .home .imgCuatro {
      grid-row: 2;
      grid-column: 1/ span 2;
      height: 15vh;
      width: 200vh;
      display: flex;
      margin-top: 40VH; }
      .home .imgCuatro .imgC {
        width: 100vh;
        height: 115vh; }
    .home .imgCinco {
      grid-row: 1;
      grid-column: 1 / 2;
      height: 60vh;
      width: 200vh;
      margin-top: 11vh; }
      .home .imgCinco .imgCi {
        grid-row: 1;
        width: 200vh;
        height: 90vh; }
    .home .imgSeis {
      grid-row: 2;
      grid-column: 1/ span 1;
      object-fit: cover;
      margin: 59vh 102.5vh;
      height: 10vh;
      width: 100vh; }
      .home .imgSeis .imgS {
        height: 96vh;
        width: 99vh; }
    .home .imgTres {
      grid-row: 6;
      height: 90vh;
      width: 200vh; }
      .home .imgTres .imgT {
        margin: 1vh 20vh;
        width: 160vh;
        height: 90vh; }
    .home .desc {
      margin-top: 0;
      width: 100vh; }
    .home .loremIndex {
      grid-row: 4;
      grid-column: 1/ span 1;
      text-align: center;
      margin-top: 30vh;
      border: 2px solid black;
      height: 6vh;
      width: 200vh;
      font-size: 2vh;
      background-color: #665A48;
      color: whitesmoke; } }

/*contactos*/
/*estilos celulares*/
.fieldsetLegend {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1vh;
  width: 40vh; }

.legendLabel {
  display: flex;
  width: 60vh;
  height: 5vh;
  background-color: #665A48;
  border-radius: 2vh;
  margin-bottom: 2vh;
  border: 3px solid #030303;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: whitesmoke; }

.boton {
  padding: 8px;
  width: 12vh;
  height: 5vh;
  margin: 16px; }

.boton:hover {
  height: 10vh;
  width: 20vh;
  background-color: #665A48;
  color: whitesmoke; }

.contactos {
  height: 170vh;
  width: 60vh; }
  .contactos .imgMain {
    height: 50vh;
    width: 20vh; }
    .contactos .imgMain .imgContA {
      object-fit: cover;
      width: 60vh;
      height: 38vh; }
  .contactos .imgMainUno {
    height: 50vh;
    width: 20vh; }
    .contactos .imgMainUno .imgContB {
      object-fit: cover;
      height: 38vh;
      width: 60vh;
      margin: 0vh 0vh; }
  .contactos .imgMainDos {
    height: 50vh;
    width: 50vh; }
    .contactos .imgMainDos .imgContacto {
      object-fit: cover;
      width: 60vh;
      height: 40vh; }
  .contactos .textoContacto {
    margin: 0vh 2vh;
    height: 13vh;
    width: 57vh;
    background-color: #665A48;
    color: whitesmoke;
    text-align: center;
    border: 3px solid black; }

.redes {
  margin: 0vh 8vh;
  display: flex;
  object-fit: contain; }
  .redes .wS {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }
  .redes .face {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }
  .redes .instagram {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }
  .redes .eMail {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }

/*media querys*/
/*contactos*/
/*tablet*/
@media screen and (min-width: 600px) {
  .contactos {
    grid-template-columns: repeat(1/1fr);
    grid-template-rows: repeat(4/1fr);
    width: 110vh;
    height: 180vh; }
    .contactos .imgMain {
      width: 50vh;
      height: 50vh;
      grid-row: 1;
      grid-column: 1; }
      .contactos .imgMain .imgContA {
        object-fit: cover;
        margin: 2vh 4vh;
        height: 58vh;
        width: 100vh; }
    .contactos .imgMainUno {
      height: 50vh;
      width: 50vh;
      grid-row: 2;
      grid-column: 1; }
      .contactos .imgMainUno .imgContB {
        object-fit: cover;
        height: 30vh;
        width: 80vh;
        margin: 15vh 12vh; }
    .contactos .imgMainDos {
      width: 50vh;
      height: 50vh;
      grid-row: 3;
      grid-column: 1; }
      .contactos .imgMainDos .imgContacto {
        width: 100vh;
        object-fit: cover;
        margin: 1vh 4vh;
        height: 50vh; }
    .contactos .textoContacto {
      margin-top: 10vh;
      height: 10vh;
      width: 99vh;
      text-align: center;
      border: 3px solid black; }
  /*estilos contactos*/
  /*desktop*/ }

@media screen and (min-width: 600px) and (min-width: 1024px) {
  .contactos {
    height: 260vh;
    width: 210vh;
    display: grid;
    grid-template-columns: repeat(1, 1 fr);
    grid-template-rows: repeat(3, 1 fr); }
    .contactos .imgMain {
      grid-row: 1;
      grid-column: 1;
      width: 50vh;
      height: 0vh; }
      .contactos .imgMain .imgContA {
        margin-top: 18vh;
        object-fit: cover;
        height: 60vh;
        width: 198vh; }
    .contactos .imgMainUno {
      grid-row: 2;
      grid-column: 1;
      display: block; }
      .contactos .imgMainUno .imgContB {
        margin-top: 10vh 0vh;
        object-fit: cover;
        width: 190vh;
        height: 80VH; }
    .contactos .imgMainDos {
      height: 50vh;
      width: 50vh;
      object-fit: cover; }
      .contactos .imgMainDos .imgContacto {
        grid-row: 2;
        object-fit: cover;
        align-content: center;
        grid-column: 1;
        height: 70vh;
        width: 200vh;
        margin: 0vh 2vh; }
    .contactos .textoContacto {
      grid-row: 1;
      grid-column: 1;
      margin: 4vh 14vh;
      width: 180vh;
      height: 10vh;
      color: whitesmoke;
      font-size: 4vh;
      text-align: center;
      border: 3px solid black; }
  .redes {
    margin: 0vh 68vh;
    object-fit: contain; } }

/*estilos page equipos de trabajo*/
/*CELULARES*/
.equipos {
  height: 150vh;
  width: 60vh; }
  .equipos .imgsEq {
    width: 60vh;
    height: 180vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .equipos .parrafoGa {
    color: whitesmoke;
    background-color: #665A48;
    grid-row: 1;
    grid-column: 1;
    margin-top: 42vh;
    width: 59vh;
    height: 14vh;
    text-align: center;
    border: 2px solid black; }
  .equipos .inforEq {
    grid-row: 1;
    grid-column: 1;
    margin-top: 1vh;
    height: 20vh;
    width: 50vh;
    text-align: center; }
  .equipos .pHUno {
    grid-row: 2;
    grid-column: 1/ span 1;
    width: 50vh;
    margin-left: 1vh;
    margin-top: 1vh;
    text-align: center;
    background-color: #665A48;
    color: whitesmoke;
    border: 2px solid black; }
  .equipos .parrafoImgH {
    grid-row: 2;
    grid-column: 1;
    object-fit: cover;
    width: 0vh; }
    .equipos .parrafoImgH .pIh {
      margin-top: 5vh;
      height: 30vh;
      width: 58vh; }
  .equipos .parrafoH {
    grid-row: 3;
    grid-column: 1;
    height: 20vh;
    width: 50vh;
    margin: 0vh 1VH; }
    .equipos .parrafoH .pImgi {
      height: 40vh;
      width: 58vh; }
  .equipos .pH {
    display: none; }
  .equipos .parrafoImgI {
    display: none; }
  .equipos .imgOn {
    grid-row: 1;
    grid-column: 1;
    width: 50vh; }
    .equipos .imgOn .imgOnu {
      margin-top: 0vh;
      height: 40VH;
      width: 56VH;
      object-fit: cover; }

@media screen and (min-width: 700px) {
  .equipos {
    height: 212vh;
    width: 100vh; }
    .equipos .imgsEq {
      width: 100vh;
      height: 110vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr); }
    .equipos .parrafoGa {
      grid-row: 1;
      grid-column: 1/ span 2;
      margin: 1vh 2vh;
      width: 95vh;
      height: 12vh;
      font-size: 2vh;
      text-align: center;
      border: 2px solid black;
      color: whitesmoke;
      background-color: #665A48; }
    .equipos .pHUno {
      grid-row: 1;
      grid-column: 1;
      width: 90vh;
      margin-left: 6vh;
      margin-top: 1vh;
      text-align: center;
      border: 2px solid black; }
    .equipos .imgOn {
      margin-top: 15vh;
      height: 60VH;
      width: 100VH;
      grid-row: 1;
      grid-column: 1/ span 1;
      object-fit: cover;
      height: 57vh; }
      .equipos .imgOn .imgOnu {
        height: 60vh;
        width: 70vh; }
    .equipos .parrafoImgH {
      grid-row: 2;
      grid-column: 1;
      object-fit: cover;
      margin-top: 0vh;
      height: 88vh;
      width: 70vh; }
      .equipos .parrafoImgH .pIh {
        width: 70vh;
        height: 50vh;
        margin-left: 32vh; }
    .equipos .parrafoH {
      grid-row: 2;
      grid-column: 1;
      display: block;
      object-fit: cover;
      height: 95vh;
      width: 70vh;
      margin: 68vh 0vh; }
      .equipos .parrafoH .pImgi {
        height: 70vh;
        width: 100vh; } }

/*estilos equipos de trabajo*/
/*DESKTOP*/
@media screen and (min-width: 1024px) {
  .equipos {
    height: 280vh;
    width: 210vh; }
    .equipos .imgsEq {
      margin-top: 0vh;
      width: 190vh;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr); }
      .equipos .imgsEq .parrafoGa {
        grid-row: 1;
        grid-column: 1;
        margin: 25vh 122vh;
        width: 80vh;
        height: 24vh;
        font-size: 3vh;
        text-align: center;
        color: whitesmoke;
        border: 2px solid black;
        background-color: #665A48; }
      .equipos .imgsEq .parrafoImgH {
        grid-row: 2;
        grid-column: 1/ span 1;
        background-color: #665A48;
        color: whitesmoke;
        object-fit: cover;
        height: 100vh;
        width: 150vh;
        margin: 1vh 20vh; }
        .equipos .imgsEq .parrafoImgH .pIh {
          width: 150vh;
          height: 70vh; }
      .equipos .imgsEq .parrafoH {
        grid-row: 3;
        grid-column: 1;
        display: block;
        object-fit: cover;
        height: 100vh;
        width: 48vh;
        margin-top: 0vh;
        margin-left: 1vh; }
        .equipos .imgsEq .parrafoH .pImgi {
          height: 90vh;
          width: 200vh; }
      .equipos .imgsEq .imgOn {
        grid-row: 1, span 1;
        grid-column: 1;
        background-color: #665A48;
        object-fit: cover;
        margin-top: 1vh;
        height: 80vh;
        width: 120vh; }
        .equipos .imgsEq .imgOn .imgOnu {
          height: 70vh;
          width: 100vh; } }

/*estilos page soluciones humanas*/
/*CELULARES*/
.mainSol .descripcionImgS {
  text-align: center;
  margin-top: 25vh;
  display: flex;
  background-color: #665A48; }

.mainSol .imgSUn {
  display: none; }

.mainSol .imgSD {
  height: 80vh; }

.mainSol .pEm {
  margin-top: 2vh;
  background-color: #665A48;
  color: whitesmoke;
  text-align: center;
  width: 55vh;
  height: 18vh;
  border: 2px solid black; }

.mainSol .imgSolU {
  object-fit: cover;
  height: 44vh;
  margin-top: 4vh; }

.mainSol .imgSolT {
  margin-top: 1vh;
  object-fit: cover;
  height: 49.5vh; }

.mainSol .pPer {
  background-color: #665A48;
  color: whitesmoke;
  text-align: center;
  width: 55vh;
  height: 24vh;
  border: 2px solid black;
  margin-top: 2vh; }

.mainSol .imgSCu {
  margin-top: 2vh;
  height: 50vh; }

.mainSol .imgSolCu {
  margin-top: 2vh;
  object-fit: cover;
  height: 28vh; }

.mainSol .pEmpresas {
  background-color: #665A48;
  color: whitesmoke;
  text-align: center;
  width: 55vh;
  height: 14vh;
  border: 2px solid black;
  margin-top: 2vh; }

.mainSol .imgSCi {
  height: 65vh; }

.mainSol .imgSolCi {
  margin-top: 2vh;
  object-fit: cover;
  height: 41vh;
  margin-top: 2vh; }

.mainSol .pEj {
  background-color: #665A48;
  color: whitesmoke;
  height: 12vh;
  width: 55vh;
  margin-top: 2vh;
  text-align: center;
  border: 2px solid black; }

.mainSol .parrafoG {
  background-color: #665A48;
  color: whitesmoke;
  width: 55vh;
  text-align: center;
  border: 2px solid black; }

/*soluciones estilos tablet*/
@media screen and (min-width: 700px) {
  .mainSol {
    width: 115vh;
    height: 290vh; }
    .mainSol .descripcionImgsS {
      width: 115vh;
      padding: 1rem;
      margin-top: 0vh;
      display: grid;
      grid-template-columns: repeat(3/1fr);
      grid-template-rows: repeat(4/1 fr); }
    .mainSol .imgSUn {
      display: none; }
    .mainSol .imgSol {
      display: none; }
    .mainSol .pCo {
      text-align: center;
      width: 50vh;
      font-size: 2vh;
      height: 16vh; }
    .mainSol .imgSolU {
      object-fit: cover;
      height: 44vh;
      margin-top: 12vh; }
    .mainSol .imgSD {
      grid-row: 1;
      grid-column: 1;
      height: 100vh; }
      .mainSol .imgSD .imgSolU {
        margin-top: 25vh;
        width: 110vh;
        height: 80vh; }
    .mainSol .pEm {
      margin-top: 2vh;
      background-color: #665A48;
      color: whitesmoke;
      text-align: center;
      width: 105vh;
      height: 9vh;
      border: 2px solid black; }
    .mainSol .imgST {
      grid-row: 2;
      grid-column: 1;
      height: 20vh;
      margin-top: 21vh; }
      .mainSol .imgST .imgSolT {
        object-fit: cover;
        height: 39vh;
        width: 50vh; }
    .mainSol .pPer {
      background-color: #665A48;
      color: whitesmoke;
      text-align: center;
      width: 105vh;
      height: 12vh;
      margin-top: 25vh;
      border: 2px solid black; }
    .mainSol .imgSCu {
      grid-row: 2;
      grid-column: 1;
      margin-top: 10vh; }
      .mainSol .imgSCu .imgSolCu {
        object-fit: cover;
        margin-top: 12vh;
        margin-left: 55vh;
        height: 39vh;
        width: 50vh; }
    .mainSol .pEmpresas {
      background-color: #665A48;
      color: whitesmoke;
      text-align: center;
      width: 105vh;
      height: 8vh;
      border: 2px solid black;
      margin-top: 2; }
    .mainSol .imgSCi {
      grid-column: 1;
      grid-row: 2; }
      .mainSol .imgSCi .imgSolCi {
        margin-top: 100vh;
        object-fit: cover;
        height: 71vh;
        width: 105vh; }
    .mainSol .pEj {
      background-color: #665A48;
      color: whitesmoke;
      height: 8vh;
      width: 105vh;
      font-size: 2vh;
      margin-top: 3vh;
      text-align: center;
      border: 2px solid black; }
    .mainSol .parrafoG {
      grid-column: 1;
      grid-row: 1;
      background-color: #665A48;
      color: whitesmoke;
      width: 105vh;
      height: 16vh;
      margin-top: 1vh;
      text-align: center;
      border: 2px solid black; } }

/*estilos soluciones para desktop*/
@media screen and (min-width: 1024px) {
  .mainSol {
    height: 260vh;
    width: 205vh; }
    .mainSol .descripcionImgsS {
      width: 10vh;
      padding: 1rem;
      margin-top: 5vh;
      display: grid;
      grid-template-columns: 125vh;
      grid-template-rows: 90vh 60vh 110vh 50vh;
      grid-gap: 1rem; }
    .mainSol .imgSUn {
      display: grid;
      grid-row: 1;
      background-color: #665A48;
      color: whitesmoke;
      text-align: center;
      display: block;
      height: 80vh;
      width: 63vh; }
      .mainSol .imgSUn .imgSol {
        display: block;
        object-fit: cover;
        height: 60vh;
        width: 71vh; }
    .mainSol .pCo {
      text-align: center;
      width: 115vh;
      font-size: 4vh;
      height: 16vh; }
    .mainSol .imgSD {
      grid-row: 1/3;
      height: 10vh; }
    .mainSol .pEm {
      margin-top: 2vh;
      color: whitesmoke;
      background-color: #665A48;
      text-align: center;
      width: 200vh;
      height: 8vh;
      border: 2px solid black; }
    .mainSol .imgSolU {
      object-fit: cover;
      margin-top: 3vh;
      grid-column: 1/4; }
    .mainSol .imgST {
      grid-column: 1;
      grid-row: 2;
      height: 30vh; }
      .mainSol .imgST .imgSolT {
        margin: 12vh 0vh 0vh 0vh;
        object-fit: cover;
        height: 50vh;
        width: 100vh; }
    .mainSol .imgSCu {
      grid-row: 3;
      grid-column: 1;
      margin: 25vh 0vh; }
      .mainSol .imgSCu .imgSolCu {
        object-fit: cover;
        height: 50vh;
        width: 145vh; }
    .mainSol .pEmpresas {
      background-color: #665A48;
      color: whitesmoke;
      text-align: center;
      width: 100vh;
      height: 9vh;
      border: 2px solid black;
      margin: 2vh 85vh; }
    .mainSol .imgSCi {
      grid-column: 1;
      grid-row: 2; }
      .mainSol .imgSCi .imgSolCi {
        margin-top: 5vh;
        object-fit: cover;
        height: 81vh;
        width: 200vh; }
    .mainSol .pPer {
      background-color: #665A48;
      color: whitesmoke;
      grid-row: 1;
      width: 50vh;
      height: 28vh;
      margin: 29vh 2vh; }
    .mainSol .pEj {
      background-color: #665A48;
      color: whitesmoke;
      height: 10vh;
      width: 198vh;
      font-size: 3vh;
      margin-top: 2vh;
      text-align: center;
      border: 2px solid black; }
    .mainSol .parrafoG {
      grid-column: 1;
      margin-top: 4vh;
      grid-row: 2;
      background-color: #665A48;
      color: whitesmoke;
      width: 200vh;
      height: 10vh;
      text-align: center;
      border: 2px solid black; } }

/*estilos pagina arma tu valija*/
/*CELULARES*/
header div .contenedorLogo {
  width: 35vh;
  height: 45vh;
  margin-top: 50vh; }

header div a .logoImg {
  margin-top: 10vh;
  height: 28vh;
  width: 35vh; }

header .textoTitulo {
  margin-top: 1vh;
  text-align: center;
  width: 62vh;
  height: 14vh; }

.valija {
  height: 190vh;
  width: 60vh; }
  .valija .contenedorValija {
    height: 160vh;
    width: 50VH;
    gap: 1vh;
    display: grid;
    grid-template-columns: repeat(1/1fr);
    grid-template-rows: repeat(4/1fr); }
  .valija .imgUnoV {
    grid-row: 1;
    grid-column: 1;
    width: 50vh;
    height: 45vh; }
    .valija .imgUnoV .imgUv {
      margin: 1vh 1vh;
      height: 30vh;
      width: 58vh; }
  .valija .textVUno {
    grid-row: 2;
    margin: 5vh 2vh;
    width: 55vh;
    height: 12vh;
    text-align: center;
    background-color: #665A48;
    color: whitesmoke;
    border: 2px solid black; }
  .valija .textVDos {
    display: none; }
  .valija .textVTres {
    margin: 1vh 0vh;
    height: 24vh;
    width: 60vh;
    text-align: center;
    background-color: #665A48;
    color: whitesmoke;
    border: 2px solid black; }
  .valija .textVCuatro {
    display: none; }
  .valija .imgDosV {
    display: none; }
  .valija .imgTresV {
    grid-row: 1;
    grid-column: 1;
    object-fit: cover;
    height: 0vh;
    width: 0vh; }
    .valija .imgTresV .imgTv {
      margin-top: 55vh;
      height: 50vh;
      width: 60vh; }
  .valija .imgCuatroV {
    object-fit: cover;
    height: 4vh;
    width: 50vh;
    margin-top: 0vh; }
    .valija .imgCuatroV .imgCv {
      margin-top: 12vh;
      height: 39vh;
      width: 60vh; }
  .valija .textF {
    display: none; }

/*estilos valiajas*/
/*tablets*/
@media screen and (min-width: 700px) {
  .valija {
    height: 185vh;
    width: 110vh; }
    .valija .contenedorValija {
      height: 160vh;
      width: 70vh;
      display: grid;
      grid-template-columns: repeat(1/1fr);
      grid-template-rows: repeat(3/1fr); }
    .valija .imgUnoV {
      grid-row: 1;
      grid-column: 1/ span 1;
      object-fit: cover;
      width: 10vh;
      height: 10vh; }
      .valija .imgUnoV .imgUv {
        margin: 42vh 8vh;
        height: 42vh;
        width: 80vh; }
    .valija .imgTresV {
      grid-row: 1;
      grid-column: 1/ span 2;
      object-fit: cover;
      height: 10vh;
      width: 70vh; }
      .valija .imgTresV .imgTv {
        margin: 0vh 2vh;
        height: 40vh;
        width: 102vh; }
    .valija .imgCuatroV {
      grid-row: 2;
      grid-column: 1/ span 1;
      object-fit: cover;
      width: 0vh;
      height: 0vh; }
      .valija .imgCuatroV .imgCv {
        margin-top: 0vh;
        height: 70vh;
        width: 110vh; }
    .valija .textVUno {
      grid-row: 1;
      width: 100vh;
      height: 12vh;
      margin-top: 1vh;
      text-align: center;
      background-color: #665A48;
      color: whitesmoke;
      border: 2px solid black; }
    .valija .textVTres {
      grid-row: 2;
      background-color: #665A48;
      color: whitesmoke;
      margin: 0vh 2vh;
      display: block;
      height: 20vh;
      width: 100vh;
      text-align: center;
      border: 2px solid black; } }

/*estilos valija*/
/*desktop*/
@media screen and (min-width: 1024px) {
  .valija {
    height: 275vh;
    width: 120vh; }
    .valija .textoTitulo {
      margin-top: 0vh;
      text-align: center;
      width: 130vh;
      height: 12vh; }
    .valija .contenedorValija {
      height: 170vh;
      width: 120vh;
      margin-top: 0vh;
      display: grid;
      grid-column: repeat(3/1fr);
      grid-row: repeat(3/1fr); }
    .valija .imgUnoV {
      grid-column: 1;
      grid-row: 3;
      object-fit: cover;
      width: 20vh;
      height: 20vh;
      margin: 30vh 0vh; }
      .valija .imgUnoV .imgUv {
        height: 60vh;
        width: 175vh; }
      .valija .imgUnoV .textVUno {
        display: none; }
    .valija .imgDosV {
      grid-column: 1;
      grid-row: 2;
      object-fit: cover;
      display: block;
      height: 40vh;
      width: 40vh; }
      .valija .imgDosV .imgDv {
        margin: 83vh 2vh;
        height: 80vh;
        width: 90vh; }
    .valija .imgTresV {
      grid-row: 2;
      grid-column: 2;
      object-fit: cover;
      width: 80vh;
      height: 40vh;
      margin-top: 53vh; }
      .valija .imgTresV .imgTv {
        height: 80vh;
        width: 100vh;
        margin: 30vh 52vh; }
    .valija .imgCuatroV {
      grid-row: 1;
      object-fit: cover;
      width: 40vh;
      height: 40vh; }
      .valija .imgCuatroV .imgCv {
        margin: 20vh 2vh;
        height: 100vh;
        width: 190vh; }
    .valija .imgValijaImg,
    .valija .imgValijaTres,
    .valija .imgValijaUno {
      display: block; }
    .valija .textVDos {
      grid-row: 1;
      grid-column: 2;
      margin-top: 5vh;
      display: block;
      width: 120vh;
      height: 10vh;
      background-color: #665A48;
      color: whitesmoke;
      text-align: center;
      border: 2px solid black; }
    .valija .textVTres {
      display: none; } }
