/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HOME*/
/* ESTILOS CELULARES*/
body {
  background-color: #a5b7b68b;
  height: 30vh; }

header .logo_img {
  margin-top: 6vh;
  height: 10vh;
  width: 15vh; }

header .Contenedor_Logo {
  width: 35vh;
  height: 15vh; }

main {
  height: 05vh; }
  main .Descripcion_Img {
    display: grid;
    grid-template-columns: repeat(1, 15%);
    grid-template-rows: repeat(2, 10%);
    height: 10vh; }
  main .Lorem_Index {
    grid-row: span 1;
    text-align: center;
    margin: 20vh 1vh;
    border: 2px solid black;
    height: 8vh;
    width: 24vh;
    background-color: #0b54519d;
    color: #fdecda;
    font-size: 1vh; }
  main .Home_P {
    grid-row: span 1;
    background-color: #005954;
    margin-top: 1vh;
    width: 25vh;
    height: 10vh;
    font-size: 1vh;
    text-align: center;
    background-color: #0b54519d;
    color: whitesmoke;
    border: 2px solid black; }
  main .Img_Uno_A {
    object-fit: cover;
    grid-row: span 1;
    background-color: #e9e9e9;
    height: 79vh;
    width: 25vh;
    margin-top: 42vh; }
  main .Img_Dos_B {
    grid-column: span 1;
    background-color: #bed606;
    width: 25vh;
    height: 15vh;
    margin-top: 30vh; }
  main .Img_Tres_C {
    display: none;
    background-color: aqua;
    width: 100vh;
    margin-top: 7vh;
    margin-left: 3vh; }
  main .Img_Seis_F {
    height: 19vh;
    margin-top: 92vh; }
  main .Descripcion_Img .Img_Tres,
  main .Img_Cuatro,
  main .Img_Cinco,
  main .Img_Seis,
  main .Img_Siete {
    display: none; }

section .Descrip_Section_Uno_H {
  background-color: #0b54519d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2VH;
  height: 5vh;
  width: 25vh;
  text-align: center;
  margin-top: 60vh; }

section .Descrip_Section_Dos_H {
  background-color: #cac4cf;
  text-align: center;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 5vh;
  width: 25vh;
  color: #094e24; }

section .Descrip_Section_Tres_H {
  background-color: #ffbdbdbd;
  text-align: center;
  height: 5vh;
  width: 24vh;
  font-size: 10px;
  margin: 5px; }

.Footer {
  font-size: 2vh; }
  .Footer .Footer_H {
    background-color: #0b54519d;
    text-align: center;
    width: 25vh;
    height: 3vh;
    font-size: 1px; }

/*estilos tablet home*/
@media screen and (min-width: 600px) {
  body {
    background-color: #a5b7b68b; }
  header {
    width: 100vh;
    height: 10vh; }
    header .logo_img {
      margin-top: 15vh;
      height: 30vh;
      width: 45vh; }
    header .Contenedor_Logo {
      object-fit: cover;
      margin: 10px;
      height: 150vh; }
  main .Descripcion_Img {
    display: grid;
    grid-template-columns: repeat(1, 10%);
    grid-template-rows: repeat(3, 15%);
    height: 230vh; }
  main .Lorem_Index {
    text-align: center;
    margin-top: 1vh;
    border: 2px solid black;
    height: 18vh;
    width: 25vh;
    font-size: 1.5vh;
    background-color: #0b54519d;
    color: #fdecda; }
  main .Img_Cuatro_D {
    height: 59vh;
    margin-left: 2vh;
    margin-top: 15vh; }
  main .Img_Cinco {
    display: block;
    width: 10vh; }
  main .Img_Seis_F {
    height: 10vh;
    margin-top: 10vh; }
  main .Desc {
    text-align: center;
    margin-top: 3vh;
    border: 2px solid black;
    height: 25vh;
    width: 80vh;
    background-color: #0b54519d;
    color: #fdecda; }
  main .Home_P {
    margin-top: 5vh;
    width: 80vh;
    height: 10vh;
    font-size: 1.5vh;
    background-color: #0b54519d;
    color: whitesmoke;
    border: 2px solid black; }
  main .Img_Uno_A {
    grid-column: 1;
    object-fit: cover;
    background-color: aliceblue;
    height: 60vh;
    width: 80vh;
    margin-top: 40vh; }
  main .Img_Dos_B {
    display: none; }
  main .Img_Tres_C {
    margin-top: 10vh;
    width: 30vh;
    margin-top: 7vh;
    margin-left: 3vh; }
  main .Img_Cinco_E {
    object-fit: cover;
    height: 51vh;
    margin: 15vh, 1vh; }
  main .Img_Seis_F {
    object-fit: cover;
    height: 62vh; }
  main .Descripcion_Img .Img_Tres,
  main .Img_Cuatro,
  main .Img_Seis,
  main .Img_Siete {
    display: block; }
  section .Desc {
    font-size: 2vh;
    height: 95vh;
    text-align: center;
    color: #005954;
    border: 1px solid black; }
  section .Descrip_Section_Uno_H {
    background-color: #0b54519d;
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    height: 40px;
    width: 89vh;
    text-align: center;
    margin-top: 1vh; }
  section .Descrip_Section_Dos_H {
    background-color: #ff9e9e9e;
    color: whitesmoke;
    height: 30px;
    width: 89vh;
    height: 20px;
    text-align: center; }
  section .Descrip_Section_Tres_H {
    color: #1d1c1c;
    background-color: #ffbdbdbd;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 89vh;
    height: 40px; }
  .Footer .Footer_H {
    background-color: #0b54519d;
    text-align: center;
    width: 89vh;
    height: 3vh;
    font-size: 1px; } }

/*estilos para desktop*/
/* home*/
@media screen and (min-width: 1024px) {
  body {
    background-color: #0b54519d; }
  .Contenedor_Logo {
    object-fit: cover;
    width: 50vh;
    height: 100vh; }
  .logo_img {
    width: 20vh; }
  .Lorem_Index {
    display: none; }
  main .Descripcion_Img {
    margin-top: 1vh;
    height: 25vh;
    width: 100vh;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(1, 1fr); }
  main .Img_Uno,
  main .Img_Dos {
    display: none; }
  main .Img_Cuatro,
  main .Img_Seis {
    display: block; }
  main .Img_Cuatro_D {
    object-fit: cover;
    grid-row: 3;
    height: 15vh;
    width: 200vh;
    display: flex;
    margin-top: 40VH; }
  main .Img_Cinco_E {
    object-fit: cover;
    grid-column: 1/2;
    height: 158vh;
    width: 200vh;
    display: flex;
    margin-top: 80vh; }
  main .Img_Seis_F {
    object-fit: cover;
    display: flex;
    margin-bottom: 1vh;
    grid-row: 1;
    height: 65vh;
    width: 190vh; }
  main .Img_Tres_C {
    display: none; }
  .Footer {
    background-color: #054E3B;
    width: 205vh;
    height: 4vh;
    text-align: center;
    margin-top: 20px; }
  .Desc {
    font-size: 2vh;
    text-align: center;
    color: #005954; }
  section .Descrip_Section_Uno_H {
    background-color: #005954;
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    height: 40px;
    width: 205vh;
    text-align: center; }
  section .Descrip_Section_Dos_H {
    background-color: #5dc1b9;
    color: whitesmoke;
    height: 30px;
    width: 205vh;
    height: 20px;
    text-align: center; }
  section .Descrip_Section_Tres_H {
    color: whitesmoke;
    background-color: #6ca3a0;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 205vh;
    height: 30px; } }

/*contactos*/
/*estilos celulares*/
.logo_img {
  display: flex;
  width: 30vh;
  height: 30vh; }

.fieldset_legend {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1vh;
  width: 40vh; }

.legend_label {
  display: flex;
  width: 106vh;
  height: 5vh;
  background-color: #447c84;
  border-radius: 2vh;
  margin-bottom: 2vh;
  border: 3px solid #030303;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #daeeff; }

.boton {
  padding: 8px;
  width: 12vh;
  height: 5vh;
  margin: 16px; }

.boton:hover {
  height: 10vh;
  width: 20vh;
  background-color: #040404;
  color: #fdecda; }

main .Img_Cont_A {
  object-fit: cover;
  height: 38vh; }

main .Img_Cont_B {
  object-fit: cover;
  height: 38vh;
  margin: 10vh 2vh; }

main .Img_Contacto {
  object-fit: cover;
  display: flex;
  margin: 2vh 2vh;
  height: 32vh; }

main .Texto_Contacto {
  margin-top: 12vh;
  height: 15vh;
  width: 53vh;
  background-color: #447c84;
  text-align: center;
  border: 3px solid black; }

footer .Redes {
  margin-top: 160vh;
  display: flex; }
  footer .Redes .W_S {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }
  footer .Redes .Face {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }
  footer .Redes .Instagram {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }
  footer .Redes .E_Mail {
    display: flex;
    margin-left: 8vh;
    height: 5vh;
    width: 1vh; }

.Footer_G {
  margin-top: 5vh;
  background-color: #447c84;
  width: 52VH;
  height: 30px;
  text-align: center; }

/*media querys*/
/*contactos*/
/*tablet*/
@media screen and (min-width: 600px) {
  .logo_img {
    display: flex;
    margin-top: 10vh; }
  header .fieldset_legend {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vh;
    width: 20vh; }
  header .legend_label {
    display: flex;
    width: 49vh;
    height: 5vh;
    background-color: #447c84;
    border-radius: 2vh;
    margin-bottom: 2vh;
    border: 3px solid #030303;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #daeeff; }
  header .boton {
    background-color: #447c84;
    padding: 8px;
    width: 12vh;
    height: 5vh;
    margin: 16px; }
  header .boton:hover {
    height: 10vh;
    width: 20vh;
    background-color: #040404;
    color: #fdecda; }
  main .Img_Cont_A {
    object-fit: cover;
    margin-top: 70vh;
    height: 68vh;
    margin-left: 1.5vh; }
  main .Img_Cont_B {
    object-fit: cover;
    height: 79vh;
    margin: 10vh 1vh; }
  main .Img_Contacto {
    object-fit: cover;
    display: flex;
    margin-top: 3vh;
    height: 70vh; }
  main .Texto_Contacto {
    height: 10vh;
    width: 99vh;
    background-color: #0b54519d;
    text-align: center;
    border: 3px solid black; }
  footer .Redes {
    object-fit: cover;
    margin-top: 20vh;
    display: flex;
    height: 1vh; }
  footer .W_S {
    display: flex;
    margin-left: 15vh;
    height: 10vh;
    width: 20vh; }
  footer .Face {
    display: flex;
    margin-left: 15vh;
    height: 10vh;
    width: 20vh; }
  footer .Instagram {
    display: flex;
    margin-left: 15vh;
    height: 10vh;
    width: 20vh; }
  footer .E_Mail {
    display: flex;
    margin-left: 15vh;
    height: 10vh;
    width: 20vh; }
  .Footer_G {
    margin-top: 5vh;
    background-color: #0b54519d;
    width: 106vh;
    height: 40px;
    text-align: center; } }

/*estilos contactos*/
/*desktop*/
@media screen and (min-width: 1024px) {
  main {
    height: 8vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 100vh); }
    main .Img_Cont_A {
      object-fit: cover;
      height: 100vh;
      width: 195vh; }
    main .Img_Cont_B {
      margin-top: 15vh;
      object-fit: cover;
      width: 10vh;
      height: 0VH; }
    main .Img_Main_Uno {
      margin-top: 1vh;
      display: block; }
    main .Img_Contacto {
      object-fit: cover;
      align-content: center;
      margin-top: 80vh;
      grid-column: span 3;
      height: 120vh; }
    main .Texto_Contacto {
      margin-top: 1vh;
      width: 150vh;
      height: 12vh;
      color: whitesmoke;
      font-size: 4vh;
      background-color: #447c84;
      text-align: center;
      border: 3px solid black; }
  footer .Footer_G {
    margin-top: 3vh;
    background-color: #447c84;
    width: 201vh;
    height: 39px;
    text-align: center; }
  footer .Redes {
    align-items: center;
    justify-content: space-around;
    margin-top: 1vh;
    height: 1vh;
    width: 195vh; }
  .W_S {
    display: flex;
    height: 10vh;
    width: 10vh; }
  .Face {
    display: flex;
    height: 10vh;
    width: 1vh; }
  .Instagram {
    display: flex;
    height: 10vh;
    width: 1vh; }
  .E_Mail {
    display: flex;
    height: 10vh;
    width: 1vh; }
  .fieldset_legend {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vh;
    margin-bottom: 10vh; }
  .legend_label {
    display: flex;
    width: 190vh;
    height: 5vh;
    background-color: #447c84;
    border-radius: 2vh;
    margin-bottom: 2vh;
    border: 3px solid #030303;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #daeeff; }
  .boton {
    background-color: #447c84;
    padding: 8px;
    width: 10vh;
    height: 5vh;
    margin: 16px 1; }
  .boton:hover {
    height: 10vh;
    width: 20vh;
    background-color: #040404;
    color: #fdecda; } }

body {
  background-color: #a5b7b68b; }

/*estilos page equipos de trabajo*/
/*CELULARES*/
main .Parrafo_Ga {
  margin-top: 35vh;
  width: 52vh;
  height: 12vh;
  text-align: center;
  border: 2px solid black; }

main .Infor_Eq {
  margin-top: 105vh;
  height: 20vh;
  width: 52vh;
  text-align: center; }

main .P_H_Uno {
  background-color: #005955b5;
  width: 50vh;
  margin-left: 1vh;
  margin-top: 5vh;
  text-align: center;
  border: 2px solid black; }

main .Parrafo_Img_H {
  object-fit: cover;
  background-color: #005954;
  margin-top: 80vh;
  height: 40VH;
  width: 50vh; }

main .P_H {
  background-color: #005955b5;
  width: 50vh;
  margin-left: 1vh;
  margin-top: 5vh;
  text-align: center;
  border: 2px solid black; }

main .Parrafo_Img_I {
  display: none; }

main .Img_On {
  object-fit: cover;
  height: 50vh; }

main .section_haeq {
  background-color: #5acbd775; }

main .section_hbeq {
  background-color: #ff9e9e9e; }

main .section_hceq {
  background-color: #ffbdbdbd; }

footer .Footer_Eqa {
  text-align: center;
  color: #f7f7f7;
  margin-top: 160vh;
  height: 5vh;
  width: 53vh;
  background-color: #0b54519d; }

@media screen and (max-width: 768px) {
  body {
    background-color: #a5b7b68b;
    height: 152vh; }
  main .Parrafo_Ga {
    margin-top: 20vh;
    width: 86vh;
    height: 22vh;
    font-size: 3vh;
    text-align: center;
    border: 2px solid black;
    background-color: #0b54519d; }
  main .P_H_Uno {
    width: 82vh;
    margin-left: 1vh;
    margin-top: 10vh;
    text-align: center;
    border: 2px solid black; }
  main .Img_On {
    object-fit: cover;
    height: 67vh;
    margin-top: 5vh; }
  main .P_H {
    background-color: #104340b5;
    width: 80vh;
    margin-left: 1vh;
    margin-top: 10vh;
    font-size: 2vh;
    text-align: center;
    border: 2px solid black; }
  main .Parrafo_Img_H {
    object-fit: cover;
    margin-top: 80vh; }
  main .Parrafo_Img_I {
    display: block;
    object-fit: cover;
    height: 48VH;
    margin-top: 90vh; }
  main .Infor_Eq {
    margin-top: 10vh;
    height: 2vh;
    width: 52vh;
    text-align: center; }
  main .section_haeq {
    margin-top: 10vh;
    width: 85vh;
    background-color: #0b54519d; }
  main .section_hbeq {
    width: 85vh;
    background-color: #ff9e9e9e; }
  main .section_hceq {
    width: 85vh;
    background-color: #ffbdbdbd; } }

footer .Footer_Eqa {
  margin-top: 2vh;
  text-align: center;
  color: #f7f7f7;
  height: 35px;
  width: 105vh;
  background-color: #0b54519d;
  box-shadow: 7px 0px 50px #131212; }

/*estilos equipos de trabajo*/
/*DESKTOP*/
@media screen and (min-width: 1024px) {
  body {
    height: 220vh; }
  main .Parrafo_Ga {
    margin-top: 30vh;
    width: 190vh;
    height: 10vh;
    font-size: 3vh;
    text-align: center;
    border: 2px solid black;
    background-color: #005954; }
  main .Parrafo_Img_H {
    object-fit: cover;
    height: 110vh;
    width: 160vh;
    margin-top: 110vh; }
  main .Parrafo_Img_I {
    display: block;
    object-fit: cover;
    height: 70VH;
    margin-top: 150vh;
    margin-left: 80vh; }
  main .P_H {
    width: 150vh;
    margin-left: 18vh;
    margin-top: 10vh;
    font-size: 2vh;
    text-align: center; }
  main .P_H_Uno {
    background-color: #005955b5;
    width: 190vh;
    margin-left: 1vh;
    margin-top: 5vh;
    text-align: center;
    border: 2px solid black; }
  main .Img_On {
    object-fit: cover;
    height: 90vh; }
  main .section_haeq {
    margin-top: 10vh;
    width: 198vh;
    background-color: #0b54519d; }
  main .section_hbeq {
    width: 198vh;
    background-color: #ff9e9e9e; }
  main .section_hceq {
    width: 198vh;
    background-color: #ffbdbdbd; }
  footer .Footer_Eq {
    margin-top: 1vh;
    text-align: center;
    color: #f7f7f7;
    height: 35px;
    width: 210vh;
    background-color: #0b54519d; } }

/*estilos page soluciones humanas*/
/*CELULARES*/
body {
  background-color: #a5b7b68b; }

header {
  width: 100vh; }

main .Descripcion_Img_S {
  text-align: center;
  margin-top: 25vh;
  display: flex;
  background-color: #0b54519d; }

main .Img_S_Un {
  display: none; }

main .Img_S_D {
  height: 80vh; }

main .P_Em {
  margin-top: 2vh;
  background-color: #0b54519d;
  text-align: center;
  width: 55vh;
  height: 18vh;
  border: 2px solid black; }

main .Img_Sol_U {
  object-fit: cover;
  height: 44vh;
  margin-top: 33vh; }

main .Img_Sol_T {
  margin-top: 22vh;
  object-fit: cover;
  height: 49.5vh; }

main .P_Per {
  background-color: #0b54519d;
  text-align: center;
  width: 55vh;
  height: 24vh;
  border: 2px solid black;
  margin-top: 2vh; }

main .Img_S_Cu {
  margin-top: 2vh;
  height: 50vh; }

main .Img_Sol_Cu {
  margin-top: 2vh;
  object-fit: cover;
  height: 28vh; }

main .P_Empresas {
  background-color: #0b54519d;
  text-align: center;
  width: 55vh;
  height: 14vh;
  border: 2px solid black;
  margin-top: 2vh; }

main .Img_S_Ci {
  height: 65vh; }

main .Img_Sol_Ci {
  margin-top: 2vh;
  object-fit: cover;
  height: 41vh;
  margin-top: 2vh; }

main .P_Ej {
  background-color: #0b54519d;
  height: 12vh;
  width: 55vh;
  margin-top: 2vh;
  text-align: center;
  border: 2px solid black; }

main .Parrafo_G {
  background-color: #0b54519d;
  width: 55vh;
  text-align: center;
  border: 2px solid black; }

.Descrip_S_U {
  background-color: #0b54519d;
  text-align: center;
  width: 55vh;
  height: 5vh; }

.Descrip_S_T {
  background-color: #ff9e9e9e;
  text-align: center;
  text-align: center;
  width: 55vh;
  height: 12vh; }

.Descrip_S_D {
  background-color: #ffbdbdbd;
  text-align: center;
  width: 55vh;
  height: 5vh; }

footer .Footer_E {
  margin-top: 53vh;
  text-align: center;
  width: 55vh;
  height: 5vh;
  background-color: #0b54519d;
  color: #f7f7f7; }

/*soluciones estilos tablet*/
@media screen and (min-width: 600px) {
  main {
    width: 320vh;
    height: 380vh; }
    main .Descripcion_Imgs_S {
      width: 200vh;
      padding: 1rem;
      margin-top: 3vh;
      display: grid;
      grid-template-columns: 59vh 250px;
      grid-template-rows: 60vh 80vh 85vh;
      grid-gap: 1rem; }
    main .Img_S_Un {
      margin-top: 20vh;
      grid-row: 1/2;
      background-color: tomato;
      display: block;
      height: 100vh;
      width: 50vh; }
    main .Img_Sol {
      object-fit: cover;
      height: 45vh; }
    main .P_Co {
      text-align: center;
      width: 50vh;
      font-size: 2vh;
      height: 16vh; }
    main .Img_S_D {
      grid-row: 1/3;
      height: 100vh; }
    main .P_Em {
      margin-top: 2vh;
      background-color: #0b54519d;
      text-align: center;
      width: 45vh;
      height: 18vh;
      border: 2px solid black; }
    main .Img_Sol_U {
      object-fit: cover;
      margin-top: 103vh; }
    main .Img_S_T {
      grid-column: 2/3;
      height: 20vh; }
    main .Img_Sol_T {
      margin-top: 50vh;
      object-fit: cover;
      height: 39vh; }
    main .P_Per {
      background-color: #0b54519d;
      text-align: center;
      width: 48vh;
      height: 25vh;
      border: 2px solid black; }
    main .Img_S_Cu {
      grid-row: 2/3;
      margin-top: 85vh; }
    main .P_Empresas {
      background-color: #0b54519d;
      text-align: center;
      width: 96vh;
      height: 14vh;
      border: 2px solid black;
      margin-top: 2vh; }
    main .Img_S_Ci {
      grid-column: 1/4; }
    main .Img_Sol_Ci {
      margin-top: 20vh;
      object-fit: cover;
      height: 71vh;
      width: 55vh; }
    main .P_Ej {
      background-color: #0b54519d;
      height: 15vh;
      width: 56vh;
      font-size: 2vh;
      margin-top: 2vh;
      text-align: center;
      border: 2px solid black; }
    main .Parrafo_G {
      grid-column: 1/4;
      background-color: #0b54519d;
      width: 105vh;
      margin-top: 50vh;
      text-align: center;
      border: 2px solid black; }
  section .Descrip_S_U {
    background-color: #0b54519d;
    text-align: center;
    width: 100vh;
    height: 5vh; }
  section .Descrip_S_T {
    background-color: #0b54519d;
    text-align: center;
    width: 100vh;
    height: 12vh; }
  section .Descrip_S_D {
    background-color: #0b54519d;
    text-align: center;
    width: 100vh;
    height: 5vh; }
  .Footer_E {
    margin-top: 15vh;
    text-align: center;
    width: 105vh;
    height: 5vh;
    background-color: #0b54519d; } }

/*estilos soluciones para desktop*/
@media screen and (min-width: 1024px) {
  main {
    width: 215vh;
    height: 385vh; }
    main .Descripcion_Imgs_S {
      width: 10vh;
      padding: 1rem;
      margin-top: 5vh;
      display: grid;
      grid-template-columns: 125vh;
      grid-template-rows: 90vh 60vh 110vh 50vh;
      grid-gap: 1rem; }
    main .Img_S_Un {
      display: grid;
      grid-row: 1/2;
      background-color: tomato;
      display: block;
      height: 70vh;
      width: 120vh; }
    main .Img_Sol {
      object-fit: cover;
      height: 60vh; }
    main .P_Co {
      text-align: center;
      width: 115vh;
      font-size: 4vh;
      height: 16vh; }
    main .Img_S_D {
      grid-row: 1/3;
      height: 10vh; }
    main .P_Em {
      margin-top: 2vh;
      background-color: #005954;
      text-align: center;
      width: 56vh;
      height: 18vh;
      border: 2px solid black; }
    main .Img_Sol_U {
      object-fit: cover;
      margin-top: 33vh;
      grid-column: 1/4; }
    main .Img_S_T {
      grid-column: 2/3;
      height: 30vh; }
    main .Img_Sol_T {
      margin-top: 20vh;
      object-fit: cover;
      height: 60vh; }
    main .Img_S_Cu {
      grid-row: 2/3;
      margin-top: 18vh; }
    main .Img_Sol_Cu {
      height: 60vh; }
    main .P_Empresas {
      background-color: #005954;
      text-align: center;
      width: 118vh;
      height: 14vh;
      border: 2px solid black;
      margin-top: 2vh; }
    main .Img_S_Ci {
      grid-column: 1/4; }
    main .Img_Sol_Ci {
      margin-top: 2vh;
      object-fit: cover;
      height: 81vh;
      width: 135vh; }
    main .P_Ej {
      background-color: #226360;
      height: 10vh;
      width: 198vh;
      font-size: 3vh;
      margin-top: 2vh;
      text-align: center;
      border: 2px solid black; }
    main .Parrafo_G {
      grid-column: 1/4;
      background-color: #005954;
      width: 198vh;
      text-align: center;
      border: 2px solid black; }
  .Descrip_S_U {
    text-align: center;
    width: 205vh;
    height: 5vh; }
  .Descrip_S_T {
    text-align: center;
    text-align: center;
    width: 205vh;
    height: 5vh; }
  .Descrip_S_D {
    text-align: center;
    width: 205vh;
    height: 5vh; }
  .Footer_E {
    margin-top: 15vh;
    text-align: center;
    width: 215vh;
    height: 5vh;
    background-color: #054E3B;
    color: #f7f7f7;
    box-shadow: 7px 0px 50px #131212; } }

body {
  background-color: #a5b7b68b; }

/*estilos pagina arma tu valija*/
/*CELULARES*/
body {
  background-color: #a5b7b68b; }

header .logo_img {
  object-fit: cover;
  width: 44vh;
  height: 30vh; }

header .Texto_Titulo {
  margin-top: 5vh;
  background-color: #0b54519d;
  width: 52vh;
  text-align: center;
  border: 2px solid black; }

main .Contenedor_Valija {
  height: 1vh;
  gap: 1vh;
  display: grid;
  grid-template-columns: repeat(3/1fr);
  grid-template-rows: repeat(3/1fr); }

main .Texto_Titulo {
  margin-top: 20vh;
  text-align: center;
  width: 43vh;
  height: 2vh;
  background-color: #005954; }

main .Img_Uno_V {
  margin-top: 37vh;
  margin-left: 1vh;
  width: 50vh;
  height: 45vh; }

main .Text_V_Uno {
  margin: 1vh 2vh;
  width: 45vh;
  height: 15vh;
  text-align: center;
  border: 2px solid black; }

main .Text_V_Dos {
  display: none; }

main .Text_V_Tres {
  margin: 0vh 1vh;
  height: 30vh;
  width: 49vh;
  text-align: center;
  border: 2px solid black; }

main .Text_V_Cuatro {
  display: none; }

main .Img_Dos_V {
  display: none; }

main .Img_Tres_V {
  object-fit: cover;
  height: 58vh;
  width: 50vh; }

main .Img_Cuatro_V {
  object-fit: cover;
  height: 34vh;
  width: 50vh;
  margin-top: 10vh; }

main .Text_F {
  display: none; }

footer .infor {
  height: 30vh; }

footer .Section_Haa {
  object-fit: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 51vh;
  background-color: #0b54519d;
  text-align: center;
  margin-top: 200vh; }

footer .Section_Hba {
  text-align: center;
  height: 48px;
  width: 45vh;
  font-size: 25px;
  height: 32px;
  width: 51vh;
  margin-top: 1vh;
  text-align: center;
  background-color: #0b54519d; }

footer .Section_Hca {
  background-color: #0b54519d;
  height: 98px;
  width: 51vh;
  margin-top: 1vh;
  text-align: center; }

footer .Footer_B {
  background-color: #0b54519d;
  text-align: center;
  width: 51vh; }

/*estilos valiajas*/
/*tablets*/
@media screen and (min-width: 600px) {
  body {
    background-color: #a5b7b68b; }
  .logo_img {
    object-fit: cover;
    width: 44vh;
    height: 30vh; }
  .Texto_Titulo {
    margin-top: 2vh;
    background-color: #0b54519d;
    width: 10vh;
    margin-top: 20vh;
    text-align: center;
    border: 2px solid black; }
  main .Contenedor_Valija {
    height: 120vh;
    gap: 10vh;
    display: grid;
    grid-template-columns: repeat(2/1fr);
    grid-template-rows: repeat(1/1fr); }
  main .Img_Uno_V {
    display: none;
    object-fit: cover;
    width: 14vh;
    height: 10vh;
    margin-top: 1vh; }
  main .Img_Tres_V {
    object-fit: cover;
    height: 84vh;
    width: 80vh;
    margin: 28vh; }
  main .Img_Cuatro_V {
    margin-top: 2vh;
    object-fit: cover;
    width: 70vh;
    height: 48vh;
    background-color: #0b54519d; }
  main .Text_V_Uno {
    width: 70vh;
    height: 12vh;
    margin-top: 45vh;
    text-align: center;
    border: 2px solid black; }
  .Text_V_Tres {
    background-color: #0b4a3a28;
    margin-top: 15vh;
    display: block;
    height: 110vh;
    width: 50vh;
    text-align: center;
    border: 2px solid black; }
  footer .Section_Haa {
    margin-top: 1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 84vh;
    text-align: center; }
  footer .Section_Hba {
    text-align: center;
    height: 48px;
    width: 95vh;
    font-size: 25px; }
  footer .Section_Hca {
    height: 8vh;
    width: 95vh;
    text-align: center; }
  footer .Footer_B {
    width: 95vh;
    background-color: #0b54519d;
    text-align: center; } }

/*estilos valija*/
/*desktop*/
@media screen and (min-width: 1024px) {
  body {
    background-color: #a5b7b68b; }
  header {
    height: 5vh; }
  main .Texto_Titulo {
    margin-top: 10vh;
    text-align: center;
    width: 200vh;
    height: 12vh;
    background-color: #0b54519d; }
  main .Contenedor_Valija {
    height: 10vh;
    margin-top: 30vh;
    gap: 1vh;
    display: grid;
    grid-template-columns: 100%, 100%;
    grid-template-rows: 10%, 10%; }
  main .Img_Uno_V {
    grid-column: span 2;
    background-color: #f09012;
    object-fit: cover;
    width: 200vh;
    height: 80vh;
    margin-top: 20vh; }
  main .Img_Dos_V {
    grid-column: span 2;
    margin-top: 20vh;
    background-color: #0b54519d;
    object-fit: cover;
    display: block;
    height: 80vh;
    width: 200vh; }
  main .Img_Tres_V {
    grid-row: 1;
    object-fit: cover;
    width: 200vh;
    height: 50vh;
    margin-top: 20vh; }
  main .Img_Cuatro_V {
    grid-row: 2;
    margin-top: 20vh;
    object-fit: cover;
    width: 120vh;
    height: 80vh; }
  main .Img_Valija_Img,
  main .Img_Valija_Tres,
  main .Img_Valija_Uno {
    display: block; }
  main .Text_V_Uno {
    display: none;
    grid-row: 0;
    margin: 10vh;
    width: 120vh;
    height: 10vh;
    text-align: center;
    border: 2px solid black; }
  main .Text_V_Dos {
    margin-top: 5vh;
    display: block;
    width: 130vh;
    height: 8vh;
    text-align: center;
    border: 2px solid black; }
  main .Text_V_Tres {
    display: none; }
  footer .Infor {
    height: 10vh; }
  footer .Section_Haa {
    margin-top: 1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 203vh;
    text-align: center; }
  footer .Section_Hba {
    text-align: center;
    height: 48px;
    width: 203vh;
    font-size: 25px; }
  footer .Section_Hca {
    height: 45px;
    width: 203vh;
    text-align: center; }
  footer .Footer_B {
    width: 203vh;
    background-color: #0b54519d;
    text-align: center; } }

@media screen and (min-width: 600px) {
  body {
    height: 20vh; }
  .Parrafo_Ga {
    margin-top: 25vh;
    width: 106vh;
    height: 20vh;
    font-size: 3vh;
    text-align: center;
    border: 2px solid black;
    background-color: #0b54519d; }
  .Parrafo_Img_H {
    object-fit: cover;
    margin-top: 180vh;
    height: 25vh;
    width: 107vh; }
  .Parrafo_Img_I {
    display: block;
    object-fit: cover;
    height: 55VH;
    margin-top: 8vh; }
  .P_H {
    background-color: #0b54519d;
    width: 100vh;
    margin-left: 1vh;
    margin-top: 6vh;
    font-size: 2vh;
    text-align: center;
    border: 2px solid black; }
  .P_H_Uno {
    background-color: #0b54519d;
    width: 105vh;
    margin-left: 1vh;
    margin-top: 5vh;
    text-align: center;
    border: 2px solid black; }
  .Infor_Eq {
    margin-top: 100vh;
    height: 20vh;
    width: 52vh;
    text-align: center; }
  .Img_On {
    object-fit: cover;
    height: 80vh;
    margin-top: 5vh; }
  .section_haeq {
    margin-top: 130vh;
    width: 107vh;
    background-color: #0b54519d; }
  .section_hbeq {
    width: 107vh;
    background-color: #0b54519d; }
  .section_hceq {
    width: 107vh;
    background-color: #0b54519d; }
  .footer_eq {
    margin-top: 5vh;
    text-align: center;
    color: #f7f7f7;
    height: 35px;
    width: 107vh;
    background-color: #0b54519d;
    box-shadow: 7px 0px 50px #131212; } }

/*estilos equipos de trabajo*/
/*DESKTOP*/
@media screen and (min-width: 1024px) {
  body {
    height: 420vh; }
  .Parrafo_Ga {
    margin-top: 55vh;
    width: 190vh;
    height: 10vh;
    font-size: 3vh;
    text-align: center;
    border: 2px solid black;
    background-color: #0b54519d; }
  .Parrafo_Img_H {
    object-fit: cover;
    height: 110vh;
    width: 160vh; }
  .Parrafo_Img_I {
    display: block;
    object-fit: cover;
    height: 70VH;
    margin-top: 8vh;
    margin-left: 80vh; }
  .P_H {
    width: 150vh;
    margin-left: 18vh;
    margin-top: 10vh;
    font-size: 2vh;
    text-align: center; }
  .P_H_Uno {
    background-color: #0b54519d;
    width: 190vh;
    margin-left: 1vh;
    margin-top: 5vh;
    text-align: center;
    border: 2px solid black; }
  .Img_On {
    object-fit: cover;
    height: 90vh; }
  .section_haeq {
    margin-top: 130vh;
    width: 198vh;
    background-color: #0b54519d; }
  .section_hbeq {
    width: 198vh;
    background-color: #0b54519d; }
  .section_hceq {
    width: 198vh;
    background-color: #0b54519d; }
  .footer_eq {
    margin-top: 160vh;
    text-align: center;
    color: #f7f7f7;
    height: 35px;
    width: 202vh;
    background-color: #0b54519d;
    box-shadow: 7px 0px 50px #131212; } }
