//import

@import "utilidades/vars";



/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "html/home";
@import "html/contactos";
@import "html/equipos";
@import "html/soluciones";
@import "html/valija";
@import "html/footer";