//import

@import "../utilidades/vars";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*contactos*/
/*estilos celulares*/



.fieldsetLegend {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vh;
    width: 50vh;

}

.legendLabel {
    display: flex;
    width: 49vh;
    height: 7vh;
    margin: 1vh 1vh;
    border-radius: 2vh;
    margin-bottom: 2vh;
    @extend %border;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;


}

.boton {
    padding: 8px;
    width: 12vh;
    height: 5vh;
    margin: 16px;
}

.boton:hover {
    height: 10vh;
    width: 20vh;
    @extend %border;
}

.contactos {
    height: 170vh;
    width: 60vh;

    .imgMain {
        height: 50vh;
        width: 20vh;

        .imgContA {
            object-fit: cover;
            width: 50vh;
            height: 38vh;
            margin: 0vh 2vh;
        }
    }

    .imgMainUno {
        height: 50vh;
        width: 20vh;

        .imgContB {
            object-fit: cover;
            height: 38vh;
            width: 48vh;
            margin: 0vh 2vh
        }
    }

    .imgMainDos {
        height: 50vh;
        width: 50vh;

        .imgContacto {
            object-fit: cover;
            width: 49vh;
            height: 40vh;
            margin: 0vh 2vh;
        }
    }

    .textoContacto {
        margin: 0vh 2vh;
        height: 15vh;
        width: 48vh;
        @extend %border;
    }
}

.redes {
    margin: 0vh 4vh;
    display: flex;
    object-fit: contain;

    .wS {
        @include redes-a
    }

    .face {
        @include redes-a
    }

    .instagram {
        @include redes-a
    }

    .eMail {
        @include redes-a
    }

}

/*media querys*/

/*contactos*/
/*tablet*/

@media screen and (min-width:600px) {

    .contactos {
        grid-template-columns: repeat(1 / 1fr);
        grid-template-rows: repeat(4 / 1fr);
        width: 110vh;
        height: 180vh;

        .imgMain {
            width: 50vh;
            height: 50vh;
            grid-row: 1;
            grid-column: 1;

            .imgContA {
                object-fit: cover;
                margin: 2vh 4vh;
                height: 58vh;
                width: 100vh;
            }
        }

        .imgMainUno {
            height: 50vh;
            width: 50vh;
            grid-row: 2;
            grid-column: 1;

            .imgContB {
                object-fit: cover;
                height: 30vh;
                width: 80vh;
                margin: 15vh 12vh;
            }
        }

        .imgMainDos {
            width: 50vh;
            height: 50vh;
            grid-row: 3;
            grid-column: 1;

            .imgContacto {
                width: 100vh;
                object-fit: cover;
                margin: 1vh 4vh;
                height: 50vh;
            }
        }

        .textoContacto {
            margin-top: 10vh;
            height: 10vh;
            width: 99vh;
        }
    }


    /*estilos contactos*/
    /*desktop*/
    @media screen and (min-width: 1024px) {

        .contactos {
            height: 260vh;
            width: 210vh;
            display: grid;
            grid-template-columns: repeat(1, 1 fr);
            grid-template-rows: repeat(3, 1 fr);

            .imgMain {
                grid-row: 1;
                grid-column: 1;
                width: 50vh;
                height: 0vh;

                .imgContA {
                    margin-top: 18vh;
                    object-fit: cover;
                    height: 60vh;
                    width: 198vh;
                }
            }

            .imgMainUno {
                grid-row: 2;
                grid-column: 1;
                display: block;

                .imgContB {
                    margin-top: 10vh 0vh;
                    object-fit: cover;
                    width: 190vh;
                    height: 80VH;
                }
            }


            .imgMainDos {
                height: 50vh;
                width: 50vh;
                object-fit: cover;

                .imgContacto {
                    grid-row: 2;
                    object-fit: cover;
                    align-content: center;
                    grid-column: 1;
                    height: 70vh;
                    width: 200vh;
                    margin: 0vh 2vh;
                }
            }

            .textoContacto {
                grid-row: 1;
                grid-column: 1;
                margin: 4vh 14vh;
                width: 180vh;
                height: 10vh;
                font-size: 4vh;
            }
        }

        .redes {
            margin: 0vh 68vh;
            object-fit: contain;
        }
    }
}