//import

@import "../utilidades/vars";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/*contactos*/
/*estilos celulares*/


.logo_img {
    display: flex;
    @include medidas(30vh, 30vh)
}

.fieldset_legend {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vh;
    width: 40vh;

}

.legend_label {
    display: flex;
    width: 106vh;
    height: 5vh;
    background-color: #447c84;
    border-radius: 2vh;
    margin-bottom: 2vh;
    border: 3px solid rgb(3, 3, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(218, 238, 255);


}

.boton {
    padding: 8px;
    width: 12vh;
    height: 5vh;
    margin: 16px;


}

.boton:hover {
    height: 10vh;
    width: 20vh;
    background-color: #040404;
    color: #fdecda;
}




main {


    .Img_Cont_A {
        object-fit: cover;

        height: 38vh;

    }

    .Img_Cont_B {
        object-fit: cover;
        height: 38vh;
        margin: 10vh 2vh
    }


    .Img_Contacto {
        object-fit: cover;
        display: flex;
        margin: 2vh 2vh;
        height: 32vh;

    }

    .Texto_Contacto {
        margin-top: 12vh;
        height: 15vh;
        width: 53vh;
        background-color: #447c84;
        text-align: center;
        border: 3px solid black;

    }
}

footer {

    .Redes {

        margin-top: 25vh;
        display: flex;


        .W_S {

            @include redes-a
        }

        .Face {
            @include redes-a
        }

        .Instagram {
            @include redes-a
        }

        .E_Mail {

            @include redes-a
        }
    }

}

.Footer_G {
    margin-top: 0vh;
    background-color: #447c84;
    width: 52VH;
    height: 30px;
    text-align: center;
}




/*media querys*/

/*contactos*/
/*tablet*/

@media screen and (min-width:600px) {

    .logo_img {
        display: flex;
        margin-top: 10vh;

    }


    header {



        .fieldset_legend {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1vh;
            width: 20vh;

        }

        .legend_label {
            display: flex;
            width: 49vh;
            height: 5vh;
            background-color: #447c84;
            border-radius: 2vh;
            margin-bottom: 2vh;
            border: 3px solid rgb(3, 3, 3);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            color: rgb(218, 238, 255);
        }


        .boton {
            background-color: #447c84;
            padding: 8px;
            width: 12vh;
            height: 5vh;
            margin: 16px;

        }

        .boton:hover {
            height: 10vh;
            width: 20vh;
            background-color: #040404;
            color: #fdecda;
        }


    }

    main {

        .Img_Cont_A {
            object-fit: cover;
            margin-top: 70vh;
            height: 68vh;
            margin-left: 1.5vh;
        }

        .Img_Cont_B {
            object-fit: cover;
            height: 79vh;
            margin: 10vh 1vh;
        }


        .Img_Contacto {
            object-fit: cover;
            display: flex;
            margin-top: 3vh;
            height: 70vh;

        }

        .Texto_Contacto {
            height: 10vh;
            width: 99vh;
            background-color: $color-descripcion;
            text-align: center;
            border: 3px solid black;
        }

    }

    footer {
        .Redes {
            @include redes-tablet
        }

        .W_S {

            @include redes-b
        }

        .Face {
            @include redes-b
        }

        .Instagram {
            @include redes-b
        }

        .E_Mail {
            @include redes-b
        }
    }

    .Footer_G {
        margin-top: 5vh;
        background-color: $color-descripcion;
        width: 106vh;
        height: 40px;
        text-align: center;

    }


}


/*estilos contactos*/
/*desktop*/
@media screen and (min-width: 1024px) {

    main {

        height: 60vh;
       width: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1 fr);
        grid-template-rows: repeat(3, 1 fr);

        .Img_Main {
            grid-row: 1;
            grid-column: 1;

            .Img_Cont_A {
                margin-top: 20vh;
                object-fit: cover;
                height: 60vh;
                width: 198vh;

            }



        }




        .Img_Main_Uno {
            grid-row: 2;
            grid-column: 1;
            margin-top: 0vh;
            display: block;

            .Img_Cont_B {
        
                margin-top: 0vh;
                object-fit: cover;
                width: 200vh;
                height: 130VH;
            }
        }



        .Img_Contacto {
            grid-row: 1;
            object-fit: cover;
            align-content: center;
            margin-top: 120vh;
            grid-column: 1;
            height: 130vh;
       



        }

        .Texto_Contacto {
            grid-row: 1;
            grid-column: 1;
            margin-top: 4vh;
            width: 150vh;
            height: 12vh;
            color: whitesmoke;
            font-size: 4vh;
            background-color: #447c84;
            text-align: center;
            border: 3px solid black;
        }

    }


    footer {

        .Footer_G {
            margin-top: 3vh;
            background-color: #447c84;
            width: 201vh;
            height: 39px;
            text-align: center;


        }

        .Redes {

            align-items: center;
            justify-content: space-around;
            margin-top: 1vh;
            height: 1vh;
            width: 195vh;
        }


    }


    .W_S {

        display: flex;
        height: 10vh;
        width: 10vh;
    }

    .Face {

        display: flex;
        height: 10vh;
        width: 1vh;
    }

    .Instagram {

        display: flex;
        height: 10vh;
        width: 1vh;
    }

    .E_Mail {

        display: flex;
        height: 10vh;
        width: 1vh;
    }


    .fieldset_legend {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 6vh;
        margin-bottom: 10vh;

    }

    .legend_label {
        display: flex;
        width: 190vh;
        height: 5vh;
        background-color: #447c84;
        border-radius: 2vh;
        margin-bottom: 2vh;
        border: 3px solid rgb(3, 3, 3);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(218, 238, 255);
    }


    .boton {
        background-color: #447c84;
        padding: 8px;
        width: 10vh;
        height: 5vh;
        margin: 16px 1;

    }

    .boton:hover {
        height: 10vh;
        width: 20vh;
        background-color: #040404;
        color: #fdecda;
    }




}