//import

@import "../utilidades/vars";
@import "../utilidades/mixin";

/*estilos page equipos de trabajo*/
/*CELULARES*/


body {
    background-color: $color-body;
}



main {
    .Imgs_Eq {

        width: 60vh;
        height: 330vh;
        background-color: #c8f4f4;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .Parrafo_Ga {
        background-color: whitesmoke;
        grid-row: 1;
        grid-column: 1;
        margin-top: 1vh;
        width: 49vh;
        height: 14vh;
        text-align: center;
        border: 2px solid black;
    }

    .Infor_Eq {
     
        grid-row: 4;
        grid-column: 1/ span 2;
        margin-top: 6vh;
        height: 20vh;
        width: 50vh;
        text-align: center;
    }

    .P_H_Uno {
        grid-row: 2;
        grid-column: 1/ span 1;
        width: 50vh;
        margin-left: 1vh;
        margin-top: 8vh;
        text-align: center;
        border: 2px solid black;
    }

    .Parrafo_Img_H {
        grid-row: 4;
        grid-template: 1/ span 1;
        object-fit: cover;
        height: 40VH;
        width: 50vh;
    }

    .P_H {
        display: none;

    }

    .Parrafo_Img_I {
        display: none;

    }

    .Img_On {
        grid-row: 3;
        grid-column: 1/ span 1;

    }
    .Img_On_U{
        margin-top: 0vh;
        height: 40VH;
        width: 56VH;
        object-fit: cover;
        height: 57vh;

    }

    .section_haeq {
        background-color: $color-section-uno;
        @include consultora;
    }

    .section_hbeq {
        background-color: $color-section-dos;
        @include consultora;
    }

    .section_hceq {
        background-color: $color-section-tres;
        @include consultora;
    }

}


footer {
    h2 {
        text-align: center;
        margin-top: 189vh;
        height: 5vh;
        width: 55vh;
        background-color: $color-descripcion;

    }

}

@media screen and (min-width:700px) {

    body {

        height: 12vh;
    }

    main {



        .Imgs_Eq {

            width: 200vh;
            height: 290vh;     
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

            .Parrafo_Ga {
                grid-row: 1;
                grid-column: 1/ span 2;
                margin: 25vh 2vh;
                width: 92vh;
                height: 12vh;
                font-size: 2vh;
                text-align: center;
                border: 2px solid black;
                background-color: $color-descripcion;
            }

            .P_H_Uno {
                grid-row: 1;
                grid-column: 1/ span 1;
                width: 20vh;
                margin-left: 1vh;
                margin-top: 4vh;
                text-align: center;

                border: 2px solid black;
            }

          
            .Img_On_U{
                margin-top: 1vh;
                height: 60VH;
                width: 70VH;
                grid-row: 1;
                grid-column: 2/ span 1;
                object-fit: cover;
                height: 57vh;
       
            }

            .P_H {
                grid-row: 2;
                background-color: #104340b5;
                width: 100vh;
                margin-left: 1vh;
                margin-top: 3vh;
                font-size: 2vh;
                text-align: center;
                border: 2px solid black;
            }

            .Parrafo_Img_H {
                grid-row: 2;
                grid-column: 1;
                object-fit: cover;
                margin-top: 12vh;
                height: 88vh;
                width: 70vh;


            }


            .Parrafo_Img_I {
                grid-row: 2;
                grid-column: 1/ span 1;
                display: block;
                object-fit: cover;
                height: 45vh;
                margin: 45vh 30vh;


            }



            .section_haeq {
                
                margin-top: 15vh;
                width: 105vh;
                background-color: $color-descripcion;
            }

            .section_hbeq {
                width: 105vh;
                background-color: $color-section-dos;

            }


            .section_hceq {
                width: 105vh;
                background-color: $color-section-tres;
            }


        }

    }

    footer {
        h2 {
            margin-top: 1vh;
            text-align: center;
            width: 105vh;
            background-color: $color-descripcion;
            box-shadow: 7px 0px 50px rgb(19, 18, 18);

        }


    }


    /*estilos equipos de trabajo*/
    /*DESKTOP*/

    @media screen and (min-width: 1024px) {
     

        main {
            
            .Imgs_Eq {
                margin-top: 30vh;
                width: 205vh;
                height: 220vh;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);


                .Parrafo_Ga {
                    grid-row: 1;
                    grid-column: 1/ span 1;
                    margin-top: 3vh;
                    width: 150vh;
                    height: 10vh;
                    font-size: 3vh;
                    text-align: center;
                    border: 2px solid black;
                    background-color: #005954;
                }


                .Parrafo_Img_H {
                    grid-row: 1;
                    grid-column: 2/ span 1;
                    background-color: $color-descripcion;
                    object-fit: cover;
                    height: 90vh;
                    width: 140vh;
                    margin-top: 0vh;
                }

                .Parrafo_Img_I {
                    grid-row: 3;
                    grid-column: 2/ span 1;
                    display: block;
                    object-fit: cover;
                    height: 100vh;
                    width: 48vh;
                    margin-top: 0vh;
                    margin-left: 0vh;

                }

                .P_H {
                    grid-row: 4;
                    width: 150vh;
                    margin-left: 0vh;
                    margin-top: 0vh;
                    font-size: 2vh;
                    text-align: center;

                }

                .P_H_Uno {
                    grid-row: 6;
                    width: 120vh;
                    margin-left: 0vh;
                    margin-top: 8vh;
                    text-align: center;
                    border: 2px solid black;
                }

                .Img_On {
                    grid-row:5 ;
                    grid-column: 1;
                    background-color: rgb(210, 53, 53);
                    object-fit: cover;
                    margin-top: 1vh;
                    height: 40vh;
                    width: 120vh;
                }

                .section_haeq {

                    margin-top: 0vh;
                    width: 205vh;
                    background-color: $color-descripcion;
                }

                .section_hbeq {
                    width: 205vh;
                    background-color: $color-section-dos;
                }

                .section_hceq {
                    width: 205vh;
                    background-color: $color-section-tres;
                }


            }


        }

        footer {
            h2 {
                margin-top: 1vh;
                text-align: center;
                color: rgb(247, 247, 247);
                height: 35px;
                width: 205vh;
                background-color: $color-descripcion;
            }
        }

    }


}