//paleta de colores general

$color-body: #F8F6F4;



//*paleta footer

$color-section-uno: #C4DFDF;
$color-section-dos: #D2E9E9;
$color-section-tres: #C4DFDF;
$color-descripcion: #E3F4F4;
$color-text : black;