//paleta de colores general

$color-body: #829460;



//*paleta footer

$color-section-uno: #C3EDC0;
$color-section-dos: #E9FFC2;
$color-section-tres: #FDFFAE;
$color-descripcion: #665A48;
$color-text : whitesmoke;